{% extends "base.html" %}
{% block content %}

<div id='big-div'>
<div id='animal_details'>
<img src="{{animal_details.image}}" alt="animal image">
<h3>{% if animal_details.owner %}
{{animal_details.owner.username}} is the owner for this {{animal_details.type}} and his  {% else %}This {{animal_details.type}} does not have an owner and his{% endif %} name is {{animal_details.animal_name}}, he'is {{animal_details.age}} years old.
</h3>
{% if not animal_details.owner %}

<form action="adopt/">
  {% csrf_token %}
  <button id='button_style'> Adopt </button>
</form>{% endif %}
</div>

</div>
{% endblock content %}
