<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Care Center</title>
  {% block head %}{% endblock head %}
</head>
<body>
<header>
  <a href="/users/">Home Page</a> | <a href="/users/{{user.id}}/">Profile</a> | <a href="/auth/logout/">Sign Out</a> | <a href="/users/{{user.id}}/product/create/">Create Product</a> | <a href="/users/{{user.id}}/animal/create/">Create Animal</a>

  {% comment %} <nav>
    {% if user.is_authenticated %}
      <p>Welcome {{user.username}}</p>
      {% else %}
      <p>Welcome guest please <a href="/auth/login/">sign in</a> or <a href="/auth/sign-up">Register</a></p>
    {% endif %}
  </nav> {% endcomment %}
  </header>
  {% block content %}{% endblock content %}
</body>
</html>
