<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Care Center</title>
  {% block head %}{% endblock head %}
</head>
<body>

  <nav>
    {% if user.is_authenticated %}
      <p>Welcome {{user.username}}</p>
      <a href="/auth/signout/">Sign Out</a>
      {% else %}
      <p>Welcome guest please <a href="/auth/login/">sign in</a> or <a href="/auth/sign-up">Register</a></p>
    {% endif %}
  </nav>
  {% block content %}{% endblock content %}
</body>
</html>
