{% extends "user_detail.html" %}
{% block profile_selected_block %}
{% block cart_content %}{% endblock cart_content %}

{% if user_details.id == user.id %}
  <a href="/users/{{user_details.id}}/product/create/">Create Product</a>
{% endif %}

{% if user.is_authenticated %}
{% if user.id != user_details.id %}

<a href="#">
  <img src="https://cdn-icons-png.flaticon.com/128/3144/3144456.png" alt="cart" id='cart_icon'>
</a>



{% comment %} --------------------  shopping  ----------------- {% endcomment %}
<div id='cart_detail'></div>
{% comment %} <hr> {% endcomment %}
{% endif %}
{% endif %}
<br>
<h1>Clinic Products List</h1>
{% for product in products %}
{% comment %} <a href="{{product.id}}">{{product.product_name}}</a> {% endcomment %}
<div id='product_list_details'>
  {% if product.image and product.image|length >= 10 %}
  <img src="{{product.image}}" alt="product image" id='product_image'>
  {% else %}
  <img src="https://cdn-icons-png.flaticon.com/128/3081/3081648.png" alt="product has no image">
  {% endif %}
  <div>
<h3 id='name-{{product.id}}'>{{product.product_name}}</h3>
<p id='description-{{product.id}}'>Description: {{product.description}}</p>
<h5 id='price-{{product.id}}'>Price: {{product.price}}</h5>
</div>
{% if user.is_authenticated %}
{% if user.id != user_details.id %}
  <form method="post" action="">
    {% csrf_token %}
    <button class='add_to_cart_button' data-product-id="{{product.id}}" data-name="{{product.product_name}}" data-price="{{product.price}}" type='submit'>Add to cart</button>
  </form>
  {% else %}
  <form method="post" action="{{product.id}}/">
    {% csrf_token %}
  {% comment %} <a href="{{product.id}}/"> {% endcomment %}
  <button>
    <img src="https://cdn-icons-png.flaticon.com/128/3221/3221897.png" alt="delete icon"id='delete_icon'>
  </button>
  </form>
  {% endif %}
{% endif %}

</div>
<br>
{% endfor %}
{% endblock profile_selected_block %}
