{% extends "base.html" %}
{% load static %}
{% block head %}
<script defer src='{% static "js/shopping.js" %}'></script>
<style>
  body{
    background-color: rgb(245, 216, 220);
  }
  #user_profile_details{
    display: flex;
    gap: 50px;
    padding: 20px;
  }
  #user_profile_details img{
    width: 150px;
  }
  #profile_chose_block{
    display: flex;
  justify-content: space-around;
  }
  #pet_list{
    color:black;
    display:flex;
    justify-content:flex-start;
    gap:40px;
    padding:20px;
    align-items: center;
    text-decoration: none;
  }
  #cart_icon{
    width: 30px;
    padding:10px;
  }
  #product_list_details {
  background-color:beige;
  border: 1px solid grey;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}
#product_image {
  width: 200px;
}
#delete_icon{
  width: 45px;
}
#cart_detail{
  background-color:beige;
  border: 1px solid grey;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
#pets_appointments_list{
  background-color:beige;
  border: 1px solid grey;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
#pets_appointments_list_ul{
  padding: 20px;
}
#pet_list_all{
  background-color:beige;
  border: 1px solid grey;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  text-decoration: none;
}
</style>
{% endblock head %}
{% block content %}
<div id='user_profile_details'>
  <img src="{{user_details.image}}" alt="User Profile Image">
<h1>{{user_details.username}}{% if user_details.clinic %}
clinic
{% endif %}</h1>
</div>
<hr>
<br>
<br>
<div id='profile_chose_block'>
  {% if user_details.clinic %}
  <form action="/users/{{user_details.id}}/animal/" method ='get'>
    {% csrf_token %}
    <button>
      Animal
    </button>
  </form>
  <form action="/users/{{user_details.id}}/appointment/" method ='get'>
    {% csrf_token %}
    <button>
      Appointments
    </button>
  </form>
  {% comment %} <form action="/users/{{user_details.id}}/products/create" method ='post'> {% endcomment %}
  <form action="/users/{{user_details.id}}/product/" method ='get'>
    {% csrf_token %}
    <button>
      Products
    </button>
  </form>
  {% else %}
  <form action="/users/{{user_details.id}}/pet/" method ='get'>
    {% csrf_token %}
    <button>
      Pets
    </button>
  </form>
  <form action="/users/{{user_details.id}}/appointments/" method ='get'>
    {% csrf_token %}
    <button>
      Appointments
    </button>
  </form>
  <form action="/users/{{user_details.id}}/order/" method ='get'>
    {% csrf_token %}
    <button>
      Orders
    </button>
  </form>
{% endif %}
</div>
<br>
<br>
<hr>
<br>
{% block profile_selected_block %}{% endblock profile_selected_block %}

{% if products %}
{% endif %}


{% if appointments %}
{% endif %}


{% if animals %}
{% endif %}

{% if pet %}
{% endif %}

{% if order %}
{% endif %}

{% endblock content %}
