{% extends "base.html" %}
{% block head %}
<style>
  body{
    background-color: rgb(245, 216, 220);
  }
  #user_profile_details img{
    width: 150px;
  }
  #profile_chose_block{
    display: flex;
  justify-content: space-around;
  }
</style>
{% endblock head %}
{% block content %}
<div id='user_profile_details'>
  <img src="{{user_details.image}}" alt="User Profile Image">
<h1>{{user_details.username}}{% if user_details.clinic %}
clinic
{% endif %}</h1>
</div>
<hr>
<br>
<br>
<div id='profile_chose_block'>
  {% if user_details.clinic %}
  <form action="/users/{{user_details.id}}/animal/" method ='get'>
    {% csrf_token %}
    <button>
      Animal
    </button>
  </form>
  <form action="/users/{{user_details.id}}/appointment/" method ='get'>
    {% csrf_token %}
    <button>
      Appointments
    </button>
  </form>
  {% comment %} <form action="/users/{{user_details.id}}/products/create" method ='post'> {% endcomment %}
  <form action="/users/{{user_details.id}}/product/" method ='get'>
    {% csrf_token %}
    <button>
      Products
    </button>
  </form>
  {% else %}
  <form action="/users/{{user_details.id}}/pet/" method ='get'>
    {% csrf_token %}
    <button>
      Pets
    </button>
  </form>
  <form action="/users/{{user_details.id}}/appointments/" method ='get'>
    {% csrf_token %}
    <button>
      Appointments
    </button>
  </form>
  <form action="/users/{{user_details.id}}/order/" method ='get'>
    {% csrf_token %}
    <button>
      Orders
    </button>
  </form>
{% endif %}
</div>
<br>
<br>
<hr>
{% block profile_selected_block %}{% endblock profile_selected_block %}

{% if products %}
{% endif %}


{% if appointments %}
{% endif %}


{% if animals %}
{% endif %}

{% if pet %}
{% endif %}

{% if order %}
{% endif %}

{% endblock content %}
